<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>House Price Predictor</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
</head>


<body style="background: rgb(255, 255, 255);
             height: 100vh; display: flex;     
             flex-direction: column;
             align-items: center;
             justify-content: center;">
             
    <div style="width: 600px;
                color: black;
                padding: 10px;
                border: 4px solid #eee;
                display: flex;
                align-items: center;
                justify-content: center; ">
                <h1>House Price Forecasting</h1></div>

    <div style="
      width: 600px;
      color: black;
      padding: 10px;
      border: 4px solid #eee;
      display: flex;
      align-items:flex-start;
      justify-content :center; ">
    
    <br>
    <form action="{{ url_for('predict')}}"method="post">
      <div class="form-group row">
        <label for="Rooms" class="col-sm-4 col-form-label">Rooms</label>
        <div class="col-sm">
          <input type="text" class="form-control" name="Rooms" id="Rooms" placeholder="1, 2, 3, 4...">
        </div>
      </div>
      <div class="form-group row">
        <label for="Landsize" class="col-sm-4 col-form-label">Landsize</label>
        <div class="col-sm">
          <input type="text" class="form-control" name="Landsize" id="Landsize" placeholder="500, 1000, 1200....">
        </div>
      </div>
      <div class="form-group row">
        <label for="BuildingArea" class="col-sm-4 col-form-label">BuildingArea</label>
        <div class="col-sm">
          <input type="text" class="form-control" name="BuildingArea" id="BuildingArea" placeholder="500, 1000, 1200....">
        </div>
      </div>
      <br>
      <div class="form-group row">
        <div class="col-sm-10">
          <button type="submit" class="btn btn-primary">Predict House Price</button>
        </div>
      </div>
    </form>
    <div style="padding-left:30px; ">
      {% if prediction_text %}
          {% for variable, value in original_input.items() %}
            <div class="form-group row">
            <div class="col-sm-7"><b>{{ variable }}</b> </div>
            <div class="col-sm-5">
              : {{ value }}
            </div>
          </div>
          {% endfor %}
          <br>
          <br> Predicted Price:
             <p style="font-size:20px">{{ prediction_text }}</p>
      {% endif %}
  </div>
  </div>

  
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>